<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	  autoReload="true"
	  internalLogLevel="Info"
	  internalLogFile="${basedir}/Logs/nlog-internal-logs.txt">

	<variable name="logLayout" value="${date} - ${level}: ${message} [${all-event-properties}]"/>

	<extensions>
		<add assembly="NLog.Web.AspNetCore"/>
	</extensions>

	<targets>
		<target name="console" xsi:type="ColoredConsole" layout="${var:logLayout}" />
		<target name="file" xsi:type="File" fileName="${basedir}/Logs/log.txt" layout="${var:logLayout}" />
	</targets>
	
	<rules>
		<logger name="*" minlevel="Trace" writeTo="console" />
		<logger name="*" minlevel="Info" writeTo="file" />
	</rules>
	
</nlog>